/* # id 선택자
. clsss 선택자 */
body{
  background-color : RGB(255,255,255);
  font-family: 'Nanum Brush Script',cursive;
}


#loginer
{
  padding: 20px;
  margin-bottom: 20px;
  /* border: 1px solid #bcbcbc; */
  text-align: center;
}

#form
{
  font-size: 1.3em;
  width: 500px;
  display: inline-block;
}

#project_title{
  font : italic;
  font-size : 45px;
  font-weight : bold;
  color : RGB(0,75,105);
  cursive;
}

#page_title{
  font : italic;
  font-size : 50px;
  font-weight : bold;
  color : RGB(0,0,0);
  cursive;
}

#page_sub_title{
  font : italic;
  font-size : 25px;
  color : RGB(105,105,105);
  cursive;
}

#user_id_pwd_label{
  font : italic;
  padding : 10px;
  font-size : 18px;
  font-weight : bold;
  color : RGB(0,0,0);
  cursive;
}

#login_status{
  font : italic;
  font-size : 25px;
  font-weight : bold;
  color : RGB(0,51,102);
  cursive;
}

#user_text{
  color: RGB(102,102,102);
  padding : .3em .8em;
  margin : 8px 20px;
  font-size : 12px;
}

#acc_information{
  font-family: 'Nanum Brush Script',cursive;
  color: RGB(0,0,0);
  font-size : 25px;
  padding: 10px;
}

#table_title{
  height : 40;
  color : RGB(255,255,255);
  background-color=RGB(200,200,200);
  font-size:30px;
  text-align : center;
}

::placeholder{
  font-size : 1.3em;
  font-family: 'Nanum Brush Script',cursive;
}

#btn_login{
  font-family: 'Nanum Brush Script',cursive;
  color : black;
  font-size : 20px;
  border : 0px;
  width : 60px;
  height : 60px;
  opacity: 0.6;
  transition: 0.3s;
}
#btn_login:hover {
  background: Lightblue;
  color: white;
  opacity: 1;
}

#btn_join_introduce{
  font-family: 'Nanum Brush Script',cursive;
  font-size : 16px;
  width : 180px;
  border : 0px;
  opacity: 0.6;
  transition: 0.3s;
}
#btn_join_introduce:hover {
  background: darkgray;
  color: white;
  opacity: 1;
}

#introduce_page{
  font-family:'Nanum Brush Script',cursive;
  font-size: 25px;
  width: 1000px;
  display: inline-block;
}

#btn_mainpage{
  font-family:'Nanum Brush Script',cursive;
  font-size: 30px;
  border : 0px;
  width : 150px;
  height : 50px;
  opacity: 0.6;
  transition: 0.3s;
}
#btn_mainpage:hover {
  background: Lightblue;
  color: white;
  opacity: 1;
}

#btn_mypage{
  font-family:'Nanum Brush Script',cursive;
  font-size: 18px;
  border : 2px;
  width : 80px;
  height : 30px;
  opacity: 0.6;
  transition: 0.3s;
}
#btn_mypage:hover {
  background: black;
  color: white;
  opacity: 1;
}

#btn_mypage_logout{
  font-family:'Nanum Brush Script',cursive;
  font-size: 18px;
  border : 2px;
  width : 80px;
  height : 30px;
  opacity: 0.6;
  transition: 0.3s;
}
#btn_mypage_logout:hover {
  background: tomato;
  color: white;
  opacity: 1;
}

#btn_check{
  font-family:'Nanum Brush Script',cursive;
  font-size: 18px;
  border : 2px;
  width : 100px;
  height : 30px;
  opacity: 0.6;
  transition: 0.3s;
}
#btn_check:hover {
  background: black;
  color: white;
  opacity: 1;
}

#btn_ok{
  font-family:'Nanum Brush Script',cursive;
  font-size: 18px;
  border : 2px;
  width : 270px;
  height : 30px;
  opacity: 0.6;
  transition: 0.3s;
}
#btn_ok:hover {
  background: black;
  color: white;
  opacity: 1;
}

#btn_delete{
  font-family:'Nanum Brush Script',cursive;
  font-size: 18px;
  border : 2px;
  width : 270px;
  height : 30px;
  opacity: 0.6;
  transition: 0.3s;
}
#btn_delete:hover {
  background: tomato;
  color: white;
  opacity: 1;
}

#btn_name_update{
  font-family:'Nanum Brush Script',cursive;
  font-size: 18px;
  border : 2px;
  width : 133px;
  height : 30px;
  opacity: 0.6;
  transition: 0.3s;
}
#btn_name_update:hover {
  background: Salmon;
  color: white;
  opacity: 1;
}

#btn_pwd_update{
  font-family:'Nanum Brush Script',cursive;
  font-size: 18px;
  border : 2px;
  width : 133px;
  height : 30px;
  opacity: 0.6;
  transition: 0.3s;
}
#btn_pwd_update:hover {
  background: Lightblue;
  color: white;
  opacity: 1;
}

#delete_table{
  font-size : 20px;
  border-collapse: collapse;
  padding: 10px;
}
#td_chk{
  border-bottom: 1px solid #444444;
  padding: 10px;
}
#td_item{
  border-bottom: 1px solid #444444;
  padding: 10px;
}
#td_cheate{
  border-bottom: 1px solid #444444;
  padding: 10px;
}
#td_account{
  border-bottom: 1px solid #444444;
  padding: 10px;
}

#info_table{
  font-size : 25px;
  border-collapse: collapse;
  padding: 2px;
}
#td_name_id{
  padding: 2px;
  text-align : left;
}
#td_info{
  padding: 2px;
  text-align : center;
}
