
/*
해당 프로젝트에서 사용되는 css 파일입니다.
중복되는 css코드를 막기위해 css파일을 분리하였습니다.
이 css 파일 사용을 위해 css가 사용되는 각 파일의 <head>부분에 <link rel="stylesheet" href="common.css" type="text/css"> 추가했습니다. 
*/

body{
  align : center;
  background-color : RGB(255,255,255);
  font-family: 'Nanum Brush Script',cursive;
}


#find_css{
  font-size: 25px;
  text-align : center;
}
#find_link_css{
  text-decoration : none;
  font-weight: bold;
  font-size: 30px;
  text-align : center;
  color : Salmon;
}
#find_link_css:hover{
  text-decoration : none;
  color : Lightblue;
}


#pop_up_css{
  text-align : center;
  margin-top : 35px;
  font-size:25px;
}

#loginer
{
  padding: 20px;
  margin-bottom: 20px;
  /* border: 1px solid #bcbcbc; */
  text-align: center;
}

#form
{
  font-size: 1.3em;
  width: 500px;
  display: inline-block;
}

#project_title{
  text-align : center;
  font : italic;
  font-size : 45px;
  font-weight : bold;
  color : RGB(0,75,105);
  cursive;
}

#page_title{
  font : italic;
  font-size : 50px;
  font-weight : bold;
  color : RGB(0,0,0);
  cursive;
}

#page_sub_title{
  font : italic;
  font-size : 25px;
  color : RGB(105,105,105);
  cursive;
}

#user_id_pwd_label{
  font : italic;
  padding : 10px;
  font-size : 18px;
  font-weight : bold;
  color : RGB(0,0,0);
  cursive;
}

#login_status{
  font : italic;
  font-size : 25px;
  font-weight : bold;
  color : black;
  cursive;
}

#user_text{
  color: RGB(102,102,102);
  padding : .3em .8em;
  margin : 8px 20px;
  font-size : 12px;
}

#acc_information{
  font-family: 'Nanum Brush Script',cursive;
  color: RGB(0,0,0);
  font-size : 25px;
  padding: 10px;
}

#table_title{
  height : 40;
  color : RGB(255,255,255);
  background-color=RGB(200,200,200);
  font-size:30px;
  text-align : center;
}

::placeholder{
  font-size : 1.3em;
  font-family: 'Nanum Brush Script',cursive;
}

#btn_search{
  font-family: 'Nanum Brush Script',cursive;
  color : black;
  font-size : 20px;
  border : 0px;
  width : 50px;
  height : 25px;
  opacity: 0.6;
  transition: 0.3s;
}
#btn_search:hover {
  background: Lightblue;
  color: white;
  opacity: 1;
}

#btn_login{
  font-family: 'Nanum Brush Script',cursive;
  color : black;
  font-size : 20px;
  border : 0px;
  width : 60px;
  height : 60px;
  opacity: 0.6;
  transition: 0.3s;
}
#btn_login:hover {
  background: Lightblue;
  color: white;
  opacity: 1;
}

#btn_join_introduce{
  font-family: 'Nanum Brush Script',cursive;
  font-size : 16px;
  width : 180px;
  border : 0px;
  opacity: 0.6;
  transition: 0.3s;
}
#btn_join_introduce:hover {
  background: darkgray;
  color: white;
  opacity: 1;
}

#introduce_page{
  font-family:'Nanum Brush Script',cursive;
  font-size: 25px;
  width: 1000px;
  display: inline-block;
}

#btn_mainpage_insert{
  font-family:'Nanum Brush Script',cursive;
  font-size: 30px;
  border : 0px;
  width : 120px;
  height : 120px;
  opacity: 0.6;
  transition: 0.3s;
}
#btn_mainpage_insert:hover {
  background: Lightblue;
  color: white;
  opacity: 1;
}

#btn_mainpage_find{
  font-family:'Nanum Brush Script',cursive;
  font-size: 20px;
  border : 0px;
  width : 120px;
  height : 60px;
  opacity: 0.6;
  transition: 0.3s;
}
#btn_mainpage_find:hover {
  background: black;
  color: white;
  opacity: 1;
}

#btn_mainpage_allfind{
  font-family:'Nanum Brush Script',cursive;
  font-size: 20px;
  border : 0px;
  width : 120px;
  height : 60px;
  opacity: 0.6;
  transition: 0.3s;
}
#btn_mainpage_allfind:hover {
  background: black;
  color: white;
  opacity: 1;
}

#btn_mainpage_delete{
  font-family:'Nanum Brush Script',cursive;
  font-size: 30px;
  border : 0px;
  width : 120px;
  height : 120px;
  opacity: 0.6;
  transition: 0.3s;
}
#btn_mainpage_delete:hover {
  background: LightCoral;
  color: white;
  opacity: 1;
}


#btn_mypage{
  font-family:'Nanum Brush Script',cursive;
  font-size: 18px;
  border : 2px;
  width : 80px;
  height : 30px;
  opacity: 0.6;
  transition: 0.3s;
}
#btn_mypage:hover {
  background: black;
  color: white;
  opacity: 1;
}

#btn_mypage_logout{
  font-family:'Nanum Brush Script',cursive;
  font-size: 18px;
  border : 2px;
  width : 80px;
  height : 30px;
  opacity: 0.6;
  transition: 0.3s;
}
#btn_mypage_logout:hover {
  background: tomato;
  color: white;
  opacity: 1;
}

#btn_check{
  font-family:'Nanum Brush Script',cursive;
  font-size: 18px;
  border : 2px;
  width : 100px;
  height : 30px;
  opacity: 0.6;
  transition: 0.3s;
}
#btn_check:hover {
  background: black;
  color: white;
  opacity: 1;
}

#btn_ok{
  font-family:'Nanum Brush Script',cursive;
  font-size: 18px;
  border : 2px;
  width : 270px;
  height : 30px;
  opacity: 0.6;
  transition: 0.3s;
}
#btn_ok:hover {
  background: black;
  color: white;
  opacity: 1;
}

#btn_delete{
  font-family:'Nanum Brush Script',cursive;
  font-size: 18px;
  border : 2px;
  width : 270px;
  height : 30px;
  opacity: 0.6;
  transition: 0.3s;
}
#btn_delete:hover {
  background: tomato;
  color: white;
  opacity: 1;
}

#btn_name_update{
  font-family:'Nanum Brush Script',cursive;
  font-size: 18px;
  border : 2px;
  width : 133px;
  height : 30px;
  opacity: 0.6;
  transition: 0.3s;
}
#btn_name_update:hover {
  background: Salmon;
  color: white;
  opacity: 1;
}

#btn_pwd_update{
  font-family:'Nanum Brush Script',cursive;
  font-size: 18px;
  border : 2px;
  width : 133px;
  height : 30px;
  opacity: 0.6;
  transition: 0.3s;
}
#btn_pwd_update:hover {
  background: Lightblue;
  color: white;
  opacity: 1;
}

#delete_table{
  font-size : 20px;
  border-collapse: collapse;
  padding: 10px;
}
#td_chk{
  border-bottom: 1px solid #444444;
  padding: 10px;
}
#td_item{
  border-bottom: 1px solid #444444;
  padding: 10px;
}
#td_cheate{
  border-bottom: 1px solid #444444;
  padding: 10px;
}
#td_account{
  border-bottom: 1px solid #444444;
  padding: 10px;
}

#info_table{
  font-size : 25px;
  border-collapse: collapse;
  padding: 2px;
}
#td_name_id{
  padding: 2px;
  text-align : left;
}
#td_info{
  padding: 2px;
  text-align : center;
}
